
.principale{
    display: grid;
    grid-template-columns: 15% 85%;
    margin-left: 2%;
}
.article3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    grid-column: 2;
    grid-row: 1;   
}
.article3 h1{
    font-size: 2em;
    font-family: 'handwriting-draft_free-version';
    text-align: center;
}
.article3 img{
    width: 100%;
    height: 100%;
}